# excluded folders
data/
notebooks/old/

# system files
*.DS_Store
*.pyc
*.ipynb_checkpoints
__pycache__/

# distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# sphinx documentation
docs/_build/


