# exclude data and private notebooks
data/
examples/ignore/

# system files
*.DS_Store
*.pyc
*.ipynb_checkpoints
__pycache__/

# distribution / packaging
.Python
build/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# spark stuff
*/derby.log
*/metastore_db/
